.channel-browser-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.channel-browser-header {
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #D1D2D3;
    background: #1B1D21;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px 0 20px;
    border-bottom: 1px solid #36373B;
}

.channel-browser-items {
    overflow: hidden;
    margin-bottom: 70px;
    list-style: none;
    width: 100%;
}

.channel-browser-item {
    display: flex;
    min-height: 40px;
    border-top: 1px solid #35373b;
    align-items: center;
    padding: 12px 12px;
    justify-content: space-between;
    cursor: pointer;
}

.channel-browser-link-to-channel {
    text-decoration: none;
    width: 100%;
}

.channel-browser-label-container {
    display: flex;
    flex-direction: column;
}

.channel-browser-item-title {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    line-height: 1.46668;
    color: #d1d2d3;
}

.channel-browser-item-subtitle {
    color: #E8E8E8B3;
    font-size: 13px;
    font-family: Lato;
    line-height: 1.38463;
    font-weight: 400;
}