.user-nav-bar {
    background-color: #19171D;
    /* grid-row: 1/2; */
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #D1D2D3;
    border-bottom: 1px solid #d1d2d31a;
    z-index: 203;
    height: 8%
}

.user-nav-bar-icons-menu {
    display: flex;
    padding: 20px;

}

.user-nav-bar-icon {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slack-logout-button {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.logout-menu {
    display: flex;
    position:fixed;
    align-items: center;
    background-color: #19171D;
    right: 10px;
    padding: 10px;
    border: 1px solid grey;
    width: 250px;
    /* text-align: right; */
}