.user-nav-bar {
    background-color: #19171D;
    /* grid-row: 1/2; */
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #D1D2D3;
    border-bottom: 1px solid #d1d2d31a;
    z-index: 203;
    height: 8%
}

.user-nav-bar-icons-menu {
    display: flex;
    padding: 20px;

}

.user-nav-bar-icon {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slack-logout-button {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.logout-menu {
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #19171D;
    right: 10px;
    border: 1px solid #36373B;
    width: 250px;
    border-radius: 7%;
}

.logout-menu-user-info {
    display: flex;
    align-items: center;
    padding: 20px 0px 10px 20px;
    /* text-align: right; */
}

.logout-name-header {
    font-size: 17px;
    font-weight:900;
    padding-left: 10px;
}

.logout-description-header {
    font-size: 15px;
    padding-left: 10px;
    color: #626365;
}

.logout-button-dropdown-container {
    padding: 10px;
    border-top: #D1D2D3;
    border: 1px;
}

.logout-button-dropdown {
    width: 92%;
}

.nav-bar-dropdown {
    color: #D1D2D3;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.sign-out-padding {
    padding: 0px 0px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}