h1 {
    color: black;
}


.user-dashboard-main {
    display: grid;
    overflow: hidden;
    position: relative;
    grid-row: 2/-1;
    grid-template-columns: 306px 2fr;
    width: 100vw;
    height: 100vh;
}